<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MVCTurbine" version="3.0" />
  <package id="Ninject" version="2.2.1.0" />
  <package id="MvcTurbine.Ninject" version="3.0" />
  <package id="DotNetOpenAuth" version="3.4.6.10357" />
  <package id="Spark" version="1.5.1" />
  <package id="WebActivator" version="1.4" />
  <package id="Spark.Web.Mvc3" version="1.5.1" />
  <package id="SisoDb" version="1.0.0" />
</packages>